@import '../index.scss';

.text-align-center { text-align: center; }

.text-vlarge { font-size: $vlarge; }

.text-large3 { font-size: $large3; }
.text-large2 { font-size: $large2; }
.text-large { font-size: $large; }
.text-medium { font-size: $medium; }
.text-small { font-size: $small; }
.text-small2 { font-size: $small2; }

.text-pad-small-top { padding-top: $small; }
.text-pad-small-bottom { padding-bottom: $small; }
.text-pad-small-both {
  @extend .text-pad-small-top;
  @extend .text-pad-small-bottom;
}
