@import '../index.scss';

.bar-container {
  background: $black3;
  color: $white3;
}

$bar-container-height: 4rem;

.bar-container-fixed-height {
  @extend .bar-container;
  height: $bar-container-height;
}
