@import './index.scss';
@import './styles/Responsive.scss';

.page-container {
  min-height: 100vh;
}

$page-body-padding: $large2;

.page-body {
  width: 60%;
}

.page-body-text-padding-top {
  padding-top: $page-body-padding;
}
.page-body-text-padding-bottom {
  padding-bottom: $page-body-padding;
}
.page-body-text-padding-sides {
  padding-left: $page-body-padding;
  padding-right: $page-body-padding;
}

// TODO: use same responsivity as hugging-face

@media screen and (min-width: $responsive-min-width) {
  .page-body {
    min-width: calc(500px - 4rem /* $responsive-max-width - $page-body-padding */);
  }
}

@media screen and (max-width: $responsive-max-width) {
  .page-body {
    width: 100%;
  }
  .page-body-spacer {
    display: none;
  }
}
