@import '../index.scss';

.button {
  border-radius: $vsmall;
  border: none;
}

.button-red {
  @extend .button;
  color: $white5;
  background: $red3;
  border: 1px solid darken($red3, $lighten-by);
  &:hover {
    background: lighten($red3, $lighten-by);
  }
}
.button-green {
  @extend .button;
  color: $white5;
  background: $green3;
  border: 1px solid darken($green3, $lighten-by);
  &:hover {
    background: lighten($green3, $lighten-by);
  }
}
.button-blue {
  @extend .button;
  color: $white5;
  background: $blue3;
  border: 1px solid darken($blue3, $lighten-by);
  &:hover {
    background: lighten($blue3, $lighten-by);
  }
}
