.text-large3 { font-size: 2.0rem; }
.text-large2 { font-size: 1.4rem; }
.text-large { font-size: 1.1rem; }
.text-medium { font-size: 0.9rem; }
.text-small { font-size: 0.8rem; }
.text-small2 { font-size: 0.7rem; }